@page
@model _02Vydry.Pages.PlaceCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Place DB</h1>

<p>
    <a asp-page="Create">Create New Place</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Place Name
            </th>
            <th>
                Location Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Place) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Location.Name
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Name" asp-route-Lid="@item.LocationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Name" asp-route-Lid="@item.LocationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Name" asp-route-Lid="@item.LocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
